<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>MEDICO.KLU</title>
  {% load static %}
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MEDICO.KLU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/doctors">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/departments">Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Blogs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Signup
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/doctorsignup">Doctor</a></li>
            <li><a class="dropdown-item" href="/patientsignup">Patient</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/doctorlogin">Doctor</a></li>
            <li><a class="dropdown-item" href="/patientlogin">Patient</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


  {% load static %}
  <body background="" style="background-size: cover;background-repeat: no-repeat;background-attachment: fixed;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

	<br><br>
    
    <div align="center">
    	 <h4>Cancer Screening Day: What Questions Should You Ask Doctor Before Cancer Screening?</h4>
    	 <br>
    	 <img src="{% static 'myapp/blog1_img.png' %}" width="600" height="300">
    </div>
    <p style="margin: 50px;">Many Cancers can be treated when screened early- Indian Cancer Society.

For many of us, Cancer is a scary disease; however, specialists believe that Cancer screening can aid in spotting the early signs of Cancer even before the symptoms appear. Screening increases the likelihood of treatment success and increases survival rates.
<br><br>
The most common cancers in India include uterine cervix cancer, breast cancer, and oral cavity cancer. They are a public health priority, accounting for approximately 35% of all cancers in India. Cancer screening tests detect cancer before symptoms appear, which makes it easier for its successful treatment. A holistic cancer screening-
<br><br>
 A good screening test is one that-
<br><br>
Aims to reduce the total instances of final-stage cancer,
Reduces the number of people who die due to the disease.
Eliminate all cancer deaths.<br><br>
Did you know? 
Breast, cervical, and oral cancer can all be prevented and detected early with screening.
On this Cancer Screening Day, November 12th, let us learn more about cancer screening by age and how the different types of cancer are screened through this blog-
<br><br>
Cancer Screening Guidelines by Age
When detecting Cancer, the most important aspect is age, diet, exercise, and other lifestyle habits; also, one needs to follow the Cancer screening guidelines. Screening tests detect cancer symptoms in asymptomatic people. At the same time, regular screenings increase your chances when Cancer hasn’t spread. Let’s read more about how Cancer screening guidelines are determined by Age-
<br><br>
Age segment	Types of Screening to be Done
 21-29	Colon Cancer Testing
Breast Cancer Testing
Cervical Cancer Testing
 30-39	Colon Cancer Testing
Breast Cancer Testing
Cervical Cancer Testing
 40-49	Colon Cancer Testing
Breast Cancer Testing
Cervical Cancer Testing
 50-64	Colon Cancer Testing
Lung Cancer Testing
Breast Cancer Testing
Cervical Cancer Testing
 65 and Older	Colon Cancer Testing
Breast Cancer Testing
Lung Cancer Testing
Cervical Cancer Testing
Cancer Screening of Different Cancers
Some cancers can be detected early before they have time to grow and spread. In this section, let us learn more about the screening tests that can detect cancer.
<br><br>
Breast cancer
affects one out of every 25 women in India. Screening tests that include mammography should begin at 50 for women at average risk.
<br><br>
Skin Cancer
Melanoma risk rises with age. Skin cancer is more common in men than women and is more seen among those with a history of sunburns, previous skin cancer, fair skin, and those who use indoor tanning beds. Melanoma risk factors include dysplastic nevus (atypical mole) and those with a family history of the disease. The risk of melanoma increases with age. The clinical visual skin examination evaluates skin lesions using the “ABCDE rule,” which looks for asymmetry, border irregularity, nonuniform color, diameter >6 mm, and evolution.
<br><br>
Oral/ Mouth Cancer
Oral/ Mouth Cancer is one of the most common cancers in India due to the widespread use of chewing tobacco and smoking. High alcohol consumption is also a risk factor. Doctors examine the mouth for red or white patches and lump in the mouth and throat to screen for oral cancer. A regular dental examination for sharp edges of teeth is also advised.
<br><br>
Pancreatic Cancer
People with certain inherited genetic syndromes or a family history of pancreatic cancer are at a higher risk of developing the disease. This advice does not apply to these high-risk groups. Other risk factors include new-onset diabetes, pre-existing diabetes, older age, cigarette smoking, obesity, or a history of chronic pancreatitis.
<br><br>
Cervical cancer
In India, Cervical cancer is the second most common among women after breast cancer. Cervical cancer can be detected early on and treated before it progresses to cancer. Human papillomavirus (HPV) tests and Pap tests are recommended for cervical cancer screening. These tests help to prevent the disease by detecting and treating abnormal cells before they become cancerous.
<br><br>
Testicular Cancer
There is insufficient evidence to suggest that screening asymptomatic patients with self-examination or clinician examination has higher accuracy in detecting testicular cancer at earlier, more curable stages. Depending on the stage and type of tumor, testicular cancer treatment may include radiation therapy, chemotherapy, or surgery. The positive thing is over 90% of all newly diagnosed cases of testicular cancer will be cured, regardless of disease stage.
<br><br>
Lung cancer screening
Low-dose helical computed tomography (CT scan) has reduced lung cancer deaths among heavy smokers. Experts recommend screening people between 50 and 80 who have a history of heavy smoking, smoke now, or have quit within the last 15 years, and are between the ages of 50 and 80.
<br><br>
Ovarian Cancer
Women with hereditary cancer syndromes and a family history of ovarian or breast cancer are more likely to develop ovarian cancer. Clinical symptoms of ovarian cancer (e.g., back pain, bloating, constipation, fatigue, abdominal pain or pressure, urinary symptoms) are nonspecific and can occur in both healthy women and women with late-stage ovarian cancer; thus, using clinical signs for risk stratification for early disease detection is difficult.
<br><br>
Colorectal Cancer
Several screening tests have been shown to reduce the risk of dying from colorectal cancer, including colonoscopy, sigmoidoscopy, and stool tests (stool DNA tests and high-sensitivity fecal occult blood tests). In addition to detecting colorectal cancer early, sigmoidoscopy and colonoscopy can prevent the disease. This is because these tests can detect abnormal colon growths (polyps) that can be removed before they become cancerous. Experts recommend that people at average risk for colorectal cancer have one of these tests done between the ages of 45 and 50, and 75.
<br><br>
Bladder Cancer
Older age, white race, infections caused by certain bladder parasites, a family or personal history of bladder cancer, male sex, smoking, and occupational exposure to carcinogens are all risk factors for bladder cancer (e.g., rubber, chemical, and leather industries). Urine biomarkers, microscopic urinalysis for hematuria, and urine cytology are all screening tests for bladder cancer.
<br><br>
Prostate Cancer
The decision to undergo periodic prostate-specific antigen (PSA)-based screening for prostate cancer should be made individually for men aged 55 to 69. Men should have the opportunity to discuss the benefits and risks of screening with their clinicians before deciding. Screening can potentially reduce the risk of death from prostate cancer in some men. Many men, however, face potential harm from screening, like treatment complications, erectile dysfunction, the possibility of a prostate biopsy, overdiagnosis and overtreatment, and false-positive results that call for additional testing.
<br><br>
Thyroid Cancer
A history of radiation exposure to the head and neck as a child, exposure to radioactive fallout, a first-degree relative with thyroid cancer, and certain genetic conditions, such as familial medullary thyroid cancer or multiple endocrine neoplasia syndrome, are all risk factors for thyroid cancer. The primary treatment for thyroid cancer is surgery.
<br><br>
Cancer Screening: Questions to Ask Your Doctor
It can be challenging to determine whether you should have a cancer screening test, when and how frequently you should have it, and when you should stop. Ask your doctor the following questions to help you understand the best cancer screening plan.
<br><br>
Is it necessary to prepare for the exam, and if so, how should I go about it?
What happens during the examination?
Is there any danger in taking the test?
What is the test’s purpose?
Who should I contact if I do not receive my test results? Is there a phone number I can contact?
What happens if the results show irregularity?
How long does it take for test results to be received?
How will you inform me of the test results? For example, email, an online health portal, or a phone call?
Is it recommended that I have any cancer screening tests? Which ones are they?
How frequently should I take the test? When should I stop having it?</p>
   


  </body>
</html>