<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>MEDICO.KLU</title>
  {% load static %}
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MEDICO.KLU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/doctors">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/departments">Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Blogs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Signup
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/doctorsignup">Doctor</a></li>
            <li><a class="dropdown-item" href="/patientsignup">Patient</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/doctorlogin">Doctor</a></li>
            <li><a class="dropdown-item" href="/patientlogin">Patient</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


  {% load static %}
  <body background="" style="background-size: cover;background-repeat: no-repeat;background-attachment: fixed;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

	<br><br>
    
    <div align="center">
    	 <h4>Domestic Violence Awareness Month – Mental Health Consequences of Violence Against Women
</h4>
    	 <br>
    	 <img src="{% static 'myapp/blog5_img.png' %}" width="600" height="300">
    </div>
    <p style="margin: 50px;">More than 730 million women worldwide have experienced gender-based violence; those in low- and lower-middle-income countries are affected the most. The COVID-19 pandemic has only increased the violence against women at the hands of their intimate partners in the last two years, owing to the increased stresses of livelihood, disruption of social and protective networks, and restricted movement.
<br><br>
Domestic Violence Awareness Month<br><br>
Domestic Violence Awareness Month (DVAM) has been observed in October for nearly three decades. It serves as an opportunity to bring attention to the prevalence of domestic violence and its effects on victims, survivors, families, and communities. In this blog, we will learn more about how domestic violence affects a woman’s health, mental health effects, and the effects of violence against women.<br><br>

What Effects Does Domestic Violence have on a Woman’s Health?<br><br>
Domestic violence has serious short-term and long-term effects on the health and well-being of women. These women reported unintended pregnancies, anxiety and depression attacks, an increased risk of low-birth-weight babies, pre-term delivery, and neonatal deaths. Let’s understand them better below-<br><br>

The Short-Term Effect of Violence Against Women<br><br>
Violence’s short-term physical effects can range from minor injuries to severe conditions. They can include bruises, cuts, broken bones, or injuries to organs and other body parts. Some physical injuries are difficult or impossible to detect without the assistance of a doctor or nurse. The following are some of the short-term physical effects of sexual violence:<br><br>

HIV and other sexually transmitted infections (STIs)<br>
Unintended pregnancy<br>
Sleeplessness or nightmares<br>
A physical injury can harm a would-be mother and her unborn child.<br>
Pelvic pain or vaginal bleeding<br>
Consequences of Violence Against Women Over Time<br>
Violence against women, whether sexual or physical, is linked to a variety<br> of long-term health issues. These are some examples:<br><br>

Heart issues<br>
Irritable bowel syndrome (IBS)<br>
Problems and nightmares while sleeping<br>
Stomach ulcers and other digestive issues<br>
Migraine attacks<br>
Stress<br>
Immune system dysfunction<br>
Arthritis<br>
Asthma<br>
What is the connection between Traumatic Brain Injury and Domestic Violence?<br><br>
Concussion and traumatic brain injury (TBI) from being hit on the head or falling and getting injuries on the head are serious risks of physical abuse. Traumatic brain injury (TBI) can result in the following:
<br><br>
A headache or a pressure sensation<br>
Consciousness loss<br>
Confusion<br>
Dizziness<br>
Vomiting and nausea<br>
Slurred speech<br>
Memory lapses<br>
Concentration issues<br>
Sleep deprivation<br>
Mental Health Consequences of Violence Against Women<br>
If you have been the victim of a physical or sexual assault, you may experience a wide range of emotions, including fear, confusion, anger, numbness, and lack of feeling. You may experience feelings of guilt or shame because of the assault. Some people try to hide the abuse by covering bruises and making excuses for the abuser.
<br><br>
It is not your fault if you have been physically or sexually assaulted or abused. Getting help for an assault or abuse can help prevent long-term mental health consequences and other health issues.
<br><br>
The Consequences of Violence Against Women<br>
Long-term physical and mental health problems can result from violence against women. Not only do violence and abuse affect the women involved, but also their children, families, and communities. These consequences include harm to an individual’s health, potentially long-term damage to children, loss of work, and homelessness.
<br><br>
Violence Against Women and Care with Gigadocs<br>
Approximately one in every four women and nearly one in every ten men have experienced sexual violence, physical violence, and/or stalking by an intimate partner at some point in their lives. Women are more likely than anyone else to be severely abused or killed by a male partner. Victims, on the other hand, do not leave abusive relationships. Reasons may include
<br><br>
Feeling financially dependent on the perpetrator<br>
Feeling isolated<br>
Fear that planning or attempting to flee will result in more intense violence<br>
Fear of what the perpetrator will do after they have left (for example, stalk them or hurt their children, another family member, or a pet)
Expecting the abuser to change (for example, because of promises to do so)
Still in love with the abuser<br><br>
Believing that abuse is normal (for example, because of previous experiences)<br><br>
Many victims of domestic violence suffer from psychological issues such as depression, posttraumatic stress disorder (PTSD), eating disorders, and substance abuse. More severe physical abuse is usually associated with more serious psychological issues.</p>
   


  </body>
</html>