<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>MEDICO.KLU</title>
  {% load static %}
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MEDICO.KLU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/doctors">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/departments">Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Blogs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Signup
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/doctorsignup">Doctor</a></li>
            <li><a class="dropdown-item" href="/patientsignup">Patient</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/doctorlogin">Doctor</a></li>
            <li><a class="dropdown-item" href="/patientlogin">Patient</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


  {% load static %}
  <body background="" style="background-size: cover;background-repeat: no-repeat;background-attachment: fixed;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

	<br><br>
    
    <div align="center">
    	 <h4>SIDS (sudden infant death syndrome) -How Teleconsultation can help against SIDS?</h4>
    	 <br>
    	 <img src="{% static 'myapp/blog2_img.png' %}" width="600" height="300">
    </div>
    <p style="margin: 50px;">The sudden, unexpected, and unexplained death of a healthy baby is known as Sudden Infant Death Syndrome (SIDS). Most SIDS deaths occur during a baby’s first six months of life. Infants born prematurely or with low birth weight are especially at risk.
<br><br>
This vulnerability could be caused by being born prematurely, having a low birth weight, or other unknown factors. SIDS is also slightly more common in boys than in girls. Low birth weight, premature birth, and other unknown factors could exacerbate this vulnerability. The most likely causes are minor illnesses, breathing obstruction, or tobacco smoke. Do you have any recommendations? Co-sleeping, like sharing a bed or a sofa, also leads to SIDS. SIDS babies struggle to respond to these stresses and control their breathing, temperature, and heart rate.
<br><br>
Sudden Infant Death Syndrome (SIDS) Awareness Month
SIDS Awareness Month is observed each year in October. SIDS is defined as the sudden, unexpected death of a baby between the ages of one month and one year with no known cause, even after a comprehensive study.
<br><br>
SIDS is every parent’s worst nightmare, but there are several things you can do to reduce the chances of SIDS. All caregivers, including grandparents, aunts, uncles, babysitters, childcare providers, and anyone else who may be in charge of a baby, must learn about SIDS and develop a safe sleeping cycle.
<br><br>
SIDS- Causes
Experts believe that SIDS occurs at a specific stage in a baby’s development and affects babies vulnerable to certain environmental stresses. This vulnerability could be caused by being born prematurely, having a low birth weight, or other factors yet to be identified.
<br><br>
Risk groups-
<br><br>
You can’t predict if and whether SIDS will strike your family, but there are a few risk factors:
<br><br>
Age– It is most common in babies between one and four months. However, SIDS can happen anytime during the first year of life.
Sex– It is more likely to affect boys.<br><br>
Nationality is most common among African-Americans, Native Americans, and Alaska natives. However, Doctors aren’t sure why SIDS affects these nationalities in particular.<br><br>
Birth weight is more common in preemies, especially those born very small, than in full-term babies. A baby is said to be in high risk if a sibling or cousin has previously pass away from SIDS.<br><br>
Mom’s health; SIDS is more likely to occur in a baby whose mother is under the age of 20 and does not receive adequate maternal care.<br><br>
Advice for New Mothers on SIDS Prevention
Always put your baby to sleep on their back during naps and at night.
Sleep on firm and flat surfaces, such as a mattress covered by a fitted sheet, with no other bedding or soft items in the sleeping area.<br><br>
Breastfeed your child and share your room with them. Keep the baby in your room, near your bed, but on a different surface designed for infants, ideally for the first year, at the very least, for the first six months.<br><br>
Follow these guidelines to ensure your child has a safe childhood-
When putting a baby to bed, place them on their back. Keep this in mind at all times. It’s a common misconception that putting a child to sleep on their back will cause them to choke on spit-up, but their gag reflex will wake them up and prevent them from choking. A child who sleeps on their stomach is more likely to take in less air.<br><br>
Toys, even cuddly teddy bears, must be kept out of the crib while the infant sleeps; the less on the crib, the less the chance of suffocation.
The baby can share your room but not your bed. Even though it may be tempting to snuggle your child in the middle of the night, sharing a bed can lead to accidental suffocation and strangulation. Sharing a bed may increase the risk of SIDS by 50%.<br><br>
Instead of using a blanket, dress your baby in soft sleepwear.
Do not smoke in the presence of your child. Smoke in an infant’s environment is a significant risk factor for SIDS.<br><br>
SIDS | Diagnosis, and Treatment with Gigadocs
There is no cure for sudden infant death syndrome. There are, however, ways to help your baby sleep safely. Having said that, you can reduce your infant’s risks if you take the necessary precautions. Consult your doctor regularly throughout your pregnancy, and never skip your baby’s routine checkups, especially if your child has abnormal breathing patterns.</p>
   


  </body>
</html>