<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>MEDICO.KLU</title>
  {% load static %}
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MEDICO.KLU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/doctors">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/departments">Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Blogs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Signup
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/doctorsignup">Doctor</a></li>
            <li><a class="dropdown-item" href="/patientsignup">Patient</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/doctorlogin">Doctor</a></li>
            <li><a class="dropdown-item" href="/patientlogin">Patient</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


  {% load static %}
  <body background="" style="background-size: cover;background-repeat: no-repeat;background-attachment: fixed;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

	<br><br>
    
    <div align="center">
    	 <h4>International Day of the Child: Health Issues Faced by Girls & How Can Teleconsultation help?

</h4>
    	 <br>
    	 <img src="{% static 'myapp/blog3_img.png' %}" width="600" height="300">
    </div>
    <p style="margin: 50px;">Women make up half of the world’s population and about 80% of consumer purchasing decisions in the healthcare industry; however, their health is often taken for granted. Consider this: during the pandemic, more than 12 million women in poor countries lost access to contraception, which resulted in 1.4 million unintended pregnancies, as reported by the UNFPA. Furthermore, the climate crisis may worsen these pregnancies’ social and economic consequences.<br><br>

In this blog, let us explore the health conditions faced by girl children and young females on this International Day of the Girl Child and how we can, as a society, care for a teenage girl’s health.
<br><br>
International Day of the Girl Child
The “International Day of the Girl Child” is observed worldwide on the 11th of October every year. Speaking about girls’ health, she faces numerous challenges in life. Consider this: With increasing sedentary lifestyles, obesity leads to an increase in risk factors such as smoking, high blood pressure, and high cholesterol among young adolescent girls.
<br><br>
Your girl child’s adolescence is a tough time in her life. Not only does puberty put them in an awkward stage in their lives, but it also exposes them to a slew of health issues that only teenagers understand. The teenage years of a girl child are difficult to navigate; from sexually transmitted diseases to mental health disorders, she has a slew of health problems to fight against. In this blog, let us discuss the various health issues that women and girls face around the world-
<br><br>
Mental Health<br><br>
Many young women and girls struggle with mental health issues such as adjustment disorders, eating disorders, depression, anxiety, and addictive behaviors. Every year, one in every five children aged 6 to 17 has a mental illness.
<br><br>
High Blood Pressure/ Hypertension<br><br>
High blood pressure affects 7% of young women aged 20 to 34. Untreated high blood pressure may be the leading cause of heart diseases later in life and can emerge as a leading stroke risk factor. Pro Tip- Simply controlling your blood pressure lowers your risk of stroke by 48%.
<br><br>
Eating Disorders<br><br>
At school, there is a lot of pressure on girls to be skinny and look good, which leads to eating disorders such as anorexia nervosa and bulimia nervosa among adolescent girls. These disorders can lead to more severe health problems, including death, if not treated properly.
<br><br>
Depression<br><br>
Depression and anxiety are common among adolescent girls due to the pressures of school, home, and friends. Depression in teenagers can have serious consequences, including suicide, if not treated properly. Medical help and expert consultation can help young girls fight depression and mental illness.
<br><br>
Obesity<br><br>
Obesity is a concern for both young girls and younger females. Obesity not only affects your child’s self-esteem, but it can also have a significant impact on their overall health. It is a major risk factor for developing diabetes.
<br><br>
Obesity rates among younger generations, including children, are much higher than in previous generations. If your teen is overweight, it can lead to long-term fertility issues due to irregular periods. Giving your teen a nutritious diet and daily exercise can help her prevent obesity.
<br><br>
Caring for a Teenage Girl’s Health with Digital Healthcare
For adolescent girls, being healthy can mean a variety of things. It is critical to developing good eating and exercise habits and good hygiene. Being fit also entails maintaining a positive mental attitude and making sound decisions regarding your body and behaviors. Be healthy to feel confident, look good, and care for your body!
<br><br>
Saving the girls means saving our entire world’s future. Remember that we exist because of women; without them, there would be no future. Let us all hope that this world will become safer and more enjoyable for a girl child to live in.</p>
   


  </body>
</html>