<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <title>MEDWAY HEALTHCARE</title>
  {% load static %}
  </head>


  {% load static %}
  <body style="background-color: #2F89FC; background-size: cover;background-repeat: no-repeat;background-attachment: fixed;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        
        <div class="container" style="text-align: center;">
            <div class="row" style="margin-top: 20px;">
             
                <h2 class="mb-4">Please Select Date and Available Time Slot</h2>
                    <form method="POST">
                        {% csrf_token %}
                        
                        <div class="mb-2">
                            <input type="date" class="form-control" name="date" placeholder="Date">
                        </div><br>
                        <div class="mb-2">
                            <select id="timeslot" name="timeslot" class="form-select" aria-label="Default select example">
                                <option value="" selected>Select Time Slot</option>
                                {% for i in current_available_slots %}
                                <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div><br>
                        <div class="mb-2">
                            <input type="text" class="form-control" name="message" placeholder="Your Message" required maxlength="50">
                        </div><br>

                        <button type="submit" name="book" class="btn btn-success">Submit</button>
                        
                    </form>
                   
            </div>
        </div>
    
</body>

 <script type="text/javascript">

      {% if Flag %}
          swal({
            text: "{{ mymessage }}",
          })
      {% else %}
          None
      {% endif %}


    </script>

</html>