<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <title>MEDWAY HEALTHCARE</title>
  {% load static %}
  </head>


  {% load static %}
  <body background="" style="background-size: cover;background-repeat: no-repeat;background-attachment: fixed;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<br>
    <div class="card" style="text-align: center;">
      <div class="card-body">
         <h3>Create Patient Report</h3>
      </div>
    </div>

    <br><br>
    
    <div class="container" style="text-align: center;">
            <div class="row" style="margin-top: 20px;">
             
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-2">
                            <input type="text" class="form-control" name="patient_username" placeholder="Enter username" required>
                        </div>
                        <br>

                        <div class="mb-2">
                            <textarea name="patient_prescription" class="form-control" placeholder="Write prescription here for patients" style="height: 100px" required></textarea>
                        </div>

                        <br>
                        
                        <button type="submit" name="book" class="btn btn-success">Next</button>
                        
                    </form>
                   
            </div>
        </div>

    <!-- <div style="margin:50px;">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">Doctor Username</th>
              <th scope="col">Time Slot</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
            
          <tbody>
            <tr>
              {% for i,j,k in final_list %}
              <td>{{ i }}</td>
              <td>{{ j }}</td>
              <td>{{ k }}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
    </div> -->
    

  </body>
  <script type="text/javascript">

      {% if Flag %}
          swal({
            text: "{{ mymessage }}",
          })
      {% else %}
          None
      {% endif %}


    </script>

</html>